In [1]:
import pandas as pd

In [12]:
df2 = pd.read_csv('C:/Users/Playdata/Documents/GitHub/Jupyter_Repo/Data/funda_train.csv')

In [15]:
df2

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
0,0,0,b,2016-06-01,13:13,0,NaN,기타 미용업,1857.142857
1,0,1,h,2016-06-01,18:12,0,NaN,기타 미용업,857.142857
2,0,2,c,2016-06-01,18:52,0,NaN,기타 미용업,2000.000000
3,0,3,a,2016-06-01,20:22,0,NaN,기타 미용업,7857.142857
4,0,4,c,2016-06-02,11:06,0,NaN,기타 미용업,2000.000000
5,0,5,c,2016-06-02,13:09,0,NaN,기타 미용업,2000.000000
6,0,6,f,2016-06-02,15:33,0,NaN,기타 미용업,2000.000000
7,0,7,a,2016-06-02,17:18,0,NaN,기타 미용업,7857.142857
8,0,8,c,2016-06-02,18:30,0,NaN,기타 미용업,2000.000000
9,0,9,a,2016-06-02,19:56,0,NaN,기타 미용업,1857.142857
10,0,10,f,2016-06-02,22:26,0,NaN,기타 미용업,22857.142857
11,0,11,c,2016-06-03,12:43,0,NaN,기타 미용업,2000.000000
12,0,12,b,2016-06-03,19:05,0,NaN,기타 미용업,1428.571429
13,0,13,e,2016-06-03,21:46,0,NaN,기타 미용업,14714.285714
14,0,14,a,2016-06-04,11:15,0,NaN,기타 미용업,2000.000000
15,0,15,c,2016-06-04,12:58,0,NaN,기타 미용업,3571.428571
16,0,16,h,2016-06-04,13:42,0,NaN,기타 미용업,1428.571429
17,0,17,a,2016-06-04,14:32,0,NaN,기타 미용업,2000.000000
18,0,18,a,2016-06-04,14:53,0,NaN,기타 미용업,14285.714286
19,0,19,b,2016-06-04,19:35,0,NaN,기타 미용업,6428.571429
20,0,20,c,2016-06-04,20:30,0,NaN,기타 미용업,2000.000000
21,0,21,f,2016-06-05,11:09,0,NaN,기타 미용업,1285.714286
22,0,22,c,2016-06-05,11:31,0,NaN,기타 미용업,2000.000000
23,0,23,b,2016-06-05,15:09,0,NaN,기타 미용업,7142.857143
24,0,24,a,2016-06-06,11:35,0,NaN,기타 미용업,7142.857143
25,0,25,h,2016-06-06,17:55,0,NaN,기타 미용업,2000.000000
26,0,26,c,2016-06-06,18:14,0,NaN,기타 미용업,6428.571429
27,0,27,a,2016-06-06,18:53,0,NaN,기타 미용업,1714.285714
28,0,28,c,2016-06-09,10:43,0,NaN,기타 미용업,2000.000000
29,0,29,b,2016-06-09,12:21,0,NaN,기타 미용업,2142.857143
...,...,...,...,...,...,...,...,...,...
6556583,2136,4663842,a,2019-02-26,00:02,0,제주 제주시,기타 주점업,6428.571429
6556584,2136,4663793,a,2019-02-26,00:29,0,제주 제주시,기타 주점업,8142.857143
6556585,2136,4662280,e,2019-02-26,20:10,0,제주 제주시,기타 주점업,4000.000000
6556586,2136,4663392,d,2019-02-26,23:01,0,제주 제주시,기타 주점업,16571.428571
6556587,2136,795775,a,2019-02-26,23:08,0,제주 제주시,기타 주점업,7571.428571
6556588,2136,4662603,f,2019-02-27,00:20,0,제주 제주시,기타 주점업,7928.571429
6556589,2136,4663843,c,2019-02-27,01:04,0,제주 제주시,기타 주점업,4500.000000
6556590,2136,4663844,b,2019-02-27,01:19,0,제주 제주시,기타 주점업,6000.000000
6556591,2136,4663845,b,2019-02-27,02:15,0,제주 제주시,기타 주점업,5142.857143
6556592,2136,1977050,d,2019-02-27,03:45,0,제주 제주시,기타 주점업,6428.571429
6556593,2136,4663846,a,2019-02-27,21:38,0,제주 제주시,기타 주점업,7857.142857
6556594,2136,4663847,g,2019-02-27,21:55,0,제주 제주시,기타 주점업,7285.714286
6556595,2136,4663848,d,2019-02-27,22:10,0,제주 제주시,기타 주점업,4000.000000
6556596,2136,4663706,d,2019-02-27,23:09,0,제주 제주시,기타 주점업,5500.000000
6556597,2136,4663849,d,2019-02-27,23:20,0,제주 제주시,기타 주점업,10428.571429
6556598,2136,4661654,a,2019-02-28,01:04,0,제주 제주시,기타 주점업,8571.428571
6556599,2136,4663850,a,2019-02-28,02:35,0,제주 제주시,기타 주점업,7428.571429
6556600,2136,4663107,a,2019-02-28,21:20,0,제주 제주시,기타 주점업,3285.714286
6556601,2136,1980399,d,2019-02-28,22:08,0,제주 제주시,기타 주점업,8714.285714
6556602,2136,4663851,b,2019-02-28,22:31,0,제주 제주시,기타 주점업,3285.714286
6556603,2136,4663852,a,2019-02-28,22:35,0,제주 제주시,기타 주점업,4571.428571
6556604,2136,4663853,e,2019-02-28,22:43,0,제주 제주시,기타 주점업,3571.428571
6556605,2136,4663666,f,2019-02-28,22:45,0,제주 제주시,기타 주점업,7428.571429
6556606,2136,4663854,f,2019-02-28,23:03,0,제주 제주시,기타 주점업,3928.571429
6556607,2136,4663855,d,2019-02-28,23:20,0,제주 제주시,기타 주점업,4500.000000
6556608,2136,4663855,d,2019-02-28,23:20,0,제주 제주시,기타 주점업,-4500.000000
6556609,2136,4663855,d,2019-02-28,23:24,0,제주 제주시,기타 주점업,4142.857143
6556610,2136,4663489,a,2019-02-28,23:24,0,제주 제주시,기타 주점업,4500.000000
6556611,2136,4663856,d,2019-02-28,23:27,0,제주 제주시,기타 주점업,571.428571
6556612,2136,4658616,c,2019-02-28,23:54,0,제주 제주시,기타 주점업,5857.142857

> 전체 지역 파악 (중복제거)

In [16]:
df2['region'].nunique()

180

> store_id 파악 (중복제거)

In [19]:
df2['store_id'].nunique()

1967

> 지역별 매출 평균액 비교

In [48]:
df2.groupby(df2.region)['amount'].mean().sort_values(ascending=False)

region
경기 과천시     58984.756834
전남 완도군     45119.572058
서울 광진구     44420.386452
경북 상주시     38071.436932
서울 강남구     33144.933447
경기 김포시     27419.659890
전남 담양군     26967.862115
부산 기장군     24468.758484
충북 옥천군     23071.366091
경기 용인시     22128.524789
세종 달빛로     21255.624427
경남 함안군     21203.709730
서울 강서구     20584.460027
인천 서구      20388.075953
부산 남구      19885.195926
부산 연제구     19779.905681
서울 관악구     19390.962943
서울 서초구     18880.932488
서울 금천구     18243.991813
부산 해운대구    18230.545938
서울 영등포구    18083.669150
전남 나주시     18017.438556
광주 남구      17990.045479
강원 태백시     17826.135535
경기 화성시     17651.248351
경기 성남시     17299.404527
경북 경주시     17138.902825
인천 동구      17055.231582
강원 속초시     16593.699141
전남 고흥군     15912.866868
               ...
경기 양평군      5438.462804
서울 서대문구     5422.085845
경북 성주군      5408.653610
경북 영주시      5328.093172
충북 증평군      5261.246131
부산 강서구      5170.683741
서울 은평구      5134.065535
충남 부여군      4806.961793
경기 안성시      4787.986138
경북 칠곡군      4776.411960
경남 거창군      4744.531934
서울 노원구      4725.665743
대전 중구       4701.561791
전남 곡성군      4654.120640
경기 오산시      4599.085700
경기 포천시      4459.834183
충북 진천군      4370.129740
대전 대덕구      4329.974916
대구 수성구      4286.246454
충남 서산시      4274.751045
부산 영도구      4132.397818
서울 양천구      4036.949217
경북 울진군      3806.350728
전북 김제시      3667.301628
충남 금산군      3592.849345
세종 도움3로     3410.774512
충남 예산군      3069.894499
경남 남해군      3051.031587
세종 고운서길     2751.297153
강원 철원군      1863.486008
Name: amount, Length: 180, dtype: float64

In [46]:
df2.groupby(df2.region).size().sort_values(ascending=False)

region
경기 수원시     122029
충북 청주시     116766
경남 창원시     107147
경남 김해시     100673
경기 평택시      82138
서울 마포구      78652
제주 제주시      68130
경북 포항시      67490
서울 강남구      65312
경북 구미시      65235
대전 서구       63564
충남 천안시      62038
전북 전주시      61720
서울 송파구      61290
대구 수성구      57165
경기 성남시      56301
경기 부천시      55918
경남 양산시      53871
경북 경주시      52843
경기 화성시      51850
경기 파주시      50794
경기 용인시      50530
서울 서초구      50512
경기 광주시      49975
울산 남구       47674
인천 남동구      47417
경기 의정부시     47333
제주 서귀포시     46541
강원 원주시      46282
충북 충주시      45641
            ...
충북 단양군       4556
충남 부여군       4442
경기 양평군       4340
경남 창녕군       4183
충남 홍성군       3816
강원 홍천군       3664
전북 순창군       3519
전남 담양군       3448
충북 옥천군       3201
경기 과천시       3193
경북 울진군       3129
전남 함평군       3092
강원 양구군       2848
전북 남원시       2815
경기 의왕시       2801
충남 예산군       2654
전남 고흥군       2600
경북 상주시       2563
세종 도움3로      2372
충남 논산시       2277
경북 칠곡군       2236
인천 동구        2230
대구 서구        1984
세종 조치원읍      1685
경북 안동시       1211
경남 거창군       1143
서울 관악구       1037
경남 함안군        878
경북 영천시        849
전남 완도군        681
Length: 180, dtype: int64

In [56]:
grouped_data1 = (df2.query('region =="강원 철원군"'))['type_of_business'].

In [57]:
grouped_data1

1863.4860081036768